.bgreenCircle {
  background-color: #66ff00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0.5em;
}

.bgreyCircle {
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0.5em;
}

.status {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 1;
  font-size: 0.9em;
}

.nameAndData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  flex: 1;
  gap: 1em;
}

.NameAndData p {
  font-weight: 500;
}

.dataCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
}

.dataCard img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.basicMain {
  margin: auto;
  max-width: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
