@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
